./Projects/Python/job-requirements-scraper.py/bin
./Projects/Python/job-requirements-scraper.py/lib/python3.10/site-packages
./Projects/Python/job-requirements-scraper.py/lib64
./Projects/Python/job-requirements-scraper.py/pyenv.cfg
